In [1]:
import pandas as pd
import duckdb

In [14]:
df = pd.read_csv('data/player-standard-2022-12-28-14-16.csv')

In [3]:
df

,Rank,Player,Team,G,MPG,PPG,FGPct,2FG%,3FG%,eFG%,FT%,RPG,APG,SPG,BPG,TOPG,FPG,Eff
0,NaN,Joel Embiid,PHI,25,36.0,33.6,52.9,56.5,33.3,55.5,85.2,9.7,4.3,1.2,1.6,3.7,3.3,22.5
1,NaN,Luka Doncic,DAL,32,36.5,33.5,50.6,59.3,35.1,57.0,74.1,8.6,8.7,1.8,0.5,3.7,2.9,24.2
2,NaN,Shai Gilgeous-Alexander,OKC,31,35.3,31.5,50.6,53.3,34.8,53.1,92.5,4.9,5.8,1.7,1.0,3.3,2.6,21.0
3,NaN,Giannis Antetokounmpo,MIL,28,32.7,31.2,53.6,58.6,25.3,55.5,64.6,11.3,5.1,0.9,1.0,3.8,3.6,19.3
4,NaN,Jayson Tatum,BOS,33,36.5,31.0,47.6,57.0,35.4,55.3,86.7,8.1,4.1,1.2,0.9,2.6,2.2,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Kelly Olynyk,UTA,32,28.2,12.9,52.9,60.4,43.0,62.2,84.3,5.0,3.2,1.1,0.7,2.2,3.9,9.6
96,NaN,Tre Jones,SAS,33,29.5,12.7,43.7,47.5,31.0,47.3,90.5,3.5,6.5,1.5,0.2,1.9,1.8,10.0
97,NaN,Trey Murphy,NOP,30,28.4,12.7,46.7,57.4,40.4,59.4,91.9,4.2,1.4,1.1,0.5,0.8,2.1,9.7
98,NaN,Cameron Payne,PHO,26,24.3,12.7,41.7,43.6,39.0,49.8,76.6,2.5,5.4,0.9,0.2,1.9,2.1,8.3
99,NaN,Bones Hyland,DEN,26,20.0,12.4,37.8,38.6,37.1,48.1,83.9,2.0,3.2,0.6,0.3,1.7,1.8,6.9

In [9]:
# Most minutes played in a game
duckdb.query("SELECT Player, MPG FROM df ORDER BY MPG desc").to_df()

               Player   MPG
0          OG Anunoby  36.6
1         Luka Doncic  36.5
2        Jayson Tatum  36.5
3       Pascal Siakam  36.3
4        Kyrie Irving  36.3
..                ...   ...
95      Collin Sexton  23.6
96  Jonas Valanciunas  23.5
97    Malcolm Brogdon  23.0
98         Malik Monk  22.8
99       Bones Hyland  20.0

[100 rows x 2 columns]

In [15]:
# Rename columns to remove `%` signs
df.rename(columns={'3FG%':'3FGPct'}, inplace=True)

df.rename(columns={'2FG%':'2FGPct'}, inplace=True)

df.rename(columns={'eFG%':'eFGPct'}, inplace=True)

df.rename(columns={'FT%':'FTPct'}, inplace=True)

In [16]:
df

,Rank,Player,Team,G,MPG,PPG,FGPct,2FGPct,3FGPct,eFGPct,FTPct,RPG,APG,SPG,BPG,TOPG,FPG,Eff
0,NaN,Joel Embiid,PHI,25,36.0,33.6,52.9,56.5,33.3,55.5,85.2,9.7,4.3,1.2,1.6,3.7,3.3,22.5
1,NaN,Luka Doncic,DAL,32,36.5,33.5,50.6,59.3,35.1,57.0,74.1,8.6,8.7,1.8,0.5,3.7,2.9,24.2
2,NaN,Shai Gilgeous-Alexander,OKC,31,35.3,31.5,50.6,53.3,34.8,53.1,92.5,4.9,5.8,1.7,1.0,3.3,2.6,21.0
3,NaN,Giannis Antetokounmpo,MIL,28,32.7,31.2,53.6,58.6,25.3,55.5,64.6,11.3,5.1,0.9,1.0,3.8,3.6,19.3
4,NaN,Jayson Tatum,BOS,33,36.5,31.0,47.6,57.0,35.4,55.3,86.7,8.1,4.1,1.2,0.9,2.6,2.2,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Kelly Olynyk,UTA,32,28.2,12.9,52.9,60.4,43.0,62.2,84.3,5.0,3.2,1.1,0.7,2.2,3.9,9.6
96,NaN,Tre Jones,SAS,33,29.5,12.7,43.7,47.5,31.0,47.3,90.5,3.5,6.5,1.5,0.2,1.9,1.8,10.0
97,NaN,Trey Murphy,NOP,30,28.4,12.7,46.7,57.4,40.4,59.4,91.9,4.2,1.4,1.1,0.5,0.8,2.1,9.7
98,NaN,Cameron Payne,PHO,26,24.3,12.7,41.7,43.6,39.0,49.8,76.6,2.5,5.4,0.9,0.2,1.9,2.1,8.3
99,NaN,Bones Hyland,DEN,26,20.0,12.4,37.8,38.6,37.1,48.1,83.9,2.0,3.2,0.6,0.3,1.7,1.8,6.9